<footer class="footer">
    <div class="footer__contenedor escaques">
      <div class="footer__escaques escaques--1 tile">
        <div class="footer__logo logo"></div>
      </div>
      <div class="footer__escaques escaques--2">
        <ul class="footer__menu">
          <li><a href="el-equipo.html" target="_self">El equipo</a></li>
          <li><a href="el-club.html" target="_self">El Club</a></li>
          <li><a href="actividades.html" target="_self">Actividades</a></li>
        </ul>
      </div>
      <div class="footer__escaques escaques--3 extra-m blancas tile"></div>
      <div class="footer__escaques escaques--4 negras tile">
        <a href="#" target="_self"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#" target="_self"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#" target="_self"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="#" target="_self"><i class="fab fa-tiktok" aria-hidden="true"></i></a>
      </div>
      <div class="footer__escaques escaques--5 neutro tile copy">&copy 2023&nbsp;&nbsp;ACFcoder</div>
    </div>  
  </footer>