<header class="header--second">
    <div class="header__contenedor">
      <div class="header__logo">
          <div class="header__logo--img">
              <a href="index.html">
               <img src="assets/images/new-logo.png" alt="Logo">  
              </a>
          </div>
      </div>
      <div class="header__nav">     
          <div id="title" class="header__item item--2 tile blancas enlace">
              <a href="el-club.html" target="_parent">El Club</a>
          </div>
          <div id="tile" class="header__item item--1 tile negras enlace">
              <a href="el-equipo.html" target="_parent">El Equipo</a>
          </div>
          <div class="header__item item--3 blancas tile enlace">
              <a href="actividades.html" target="_parent">Actividades</a>
          </div>
      </div>    
    </div>
  </header>